/* 
#options {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: repeat(2, 1fr);  
    grid-gap: 20px;
    grid-template-areas: 
        "insurance distance";
}

.Insurance {
    grid-area: insurance;
}

.Distance {
    grid-area: distance;
}
*/
/*
.boxy {
    display: flex;
    flex-wrap: wrap;

}

.boxsize {
    border: 5px solid black;
    width: 100%;
    margin: 4px;
    text-align: center;
}
*/

#options {
    margin: 25%;
}


.Insurance {
    background: gray;
}

.Distance {
    background: gray;
}