/* 
#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Insurance {
    border: 5px solid black;
    width: 40%;
    margin: 4px;
    text-align: center;
}

.Distance {
    border: 5px solid black;
    width: 40%;
    margin: 4px;
    text-align: center;
}
 */