h2 {
    margin: 8% 25% 1px;
    text-align: center;
}

#options {
    margin-left: 28%;
    margin-right: 28%;
}

.Insurance {
    background: gray;
}

.Distance {
    background: gray;
}

.item {
    margin-top: 1px;
    list-style: none;
    text-align: center;
    background: lightgray;
}
