@import url('https://fonts.googleapis.com/css?family=Bitter|Raleway');


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', serif;
}



.main-global {
    display: grid;
    min-height: 100vh;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 100px minmax(500px, 1fr) 50px; 
    /* grid-gap: 10px; */
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header-global {
    grid-area: header;
    background: black;
}

.main-global {
    grid-area: main;
}

.footer-global {
    grid-area: footer;
    background: black;

}

