.index-container {
    display: grid;
    grid-template-rows: 50px 50% 50%;
    grid-template-areas:
    "top"
    "button"
    "about"; 
}

.standout {
    background-color: rgba(221, 226, 226, 0.514)
}

.buttonBox {
    font-size: 2em;
    text-align: center;
    grid-area: button;
    background-image: url('http://i63.tinypic.com/qzlpvb.jpg');
    background-size: cover;
}

.aboutBox {
    text-align: center;
    grid-area: about;
    font-size: 1.5em;
}

.brand {
    display: grid;
    font-size: 2em;
    justify-content: center;
    background-color: gray;
}

.nav-container {
    list-style: none;
    display: grid;
    grid-template-columns:25% 1fr 1fr 1fr 1fr 25%;
    justify-content: center;
    grid-gap: 5px;
    grid-template-areas:
    "empty items supplies add-ons sample empty2";
}

.suppliesClass {
    text-align: center;
    grid-area: supplies;
    padding: 2px;
    background-color: gray;
    border: 1px solid gray;
}

.itemsClass {
    text-align: center;
    grid-area: items;
    padding: 2px;
    background-color: gray;
    border: 1px solid gray;
}

.addonsClass {
    text-align: center;
    grid-area: add-ons;
    padding: 1px;
    background-color: gray;
    border: 1px solid gray;
}

.sampleClass {
    text-align: center;
    grid-area: sample;
    padding: 1px;
    background-color: gray;
    border: 1px solid gray;
}

.buttonStyle {
    margin: auto;
}

.aboutStyle {
    margin: auto;
}